<section id="photo">
  <div class="middle">
    <div class="inner">
      <h1>Trow My Trash: <span>A website to know where<br />
          do you throw everything! </span></h1>
      <ul class="actions">
        <li><a href="/register" class="btn btn-outline-light boton">Register now</a></li>
      </ul>
    </div>
  </div>
</section>


{{!-- <div class="loading">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="wrapper">
  <div id='map' class='mapindex'></div>
</div> --}}

{{!-- <script src="/javascripts/maptrash.js"></script> --}}

{{>footer}}