<div>
  <div class="titleError pacific-font">
    <h2>ยก404 Error!</h2>
  </div>
  <div class="titleError pacific-font">
    <h2>This route does not exist on the app! Check if everything is ok!</h2>
  </div>
  <div class="imagenTanos">
  </div>
</div>