<div id="about">
  <header>
    <h2>About us!</h2>
  </header>
  <p>This is the second project of the Web Development Bootcamp in Ironhack. It's been made by Miguel Alonso and Ivan
    Esteban. We want the people to know where is the closest place to throw any kind of litter</p>
</div>

<div id="follow">
  <div>
    <h2>Follow us!</h2>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card cardPersonal colors">
        <h2 class="card-title pacific-font">Ivan Esteban </h2>
        <div class="card-body fondoVerde">
          <a href="https://github.com/Donivanes" class="btn btn-outline-dark my-2 my-sm-0 botonVerde colors">GitHub <i
              class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/ivanestebani/"
            class="btn btn-outline-dark my-2 my-sm-0 botonVerde colors">LinkedIn <i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card cardPersonal colors">
        <h2 class="card-title pacific-font">Miguel Alonso </h2>
        <div class="card-body fondoVerde">
          <a href="https://github.com/malonsogallardo"
            class="btn btn-outline-dark my-2 my-sm-0 botonVerde colors">GitHub <i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/miguelalonsog/"
            class="btn btn-outline-dark my-2 my-sm-0 botonVerde colors">LinkedIn <i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>








{{>footer}}