<div>
  <img style=" position:absolute; width:100%; height:100%;" src="../images/info.jpg" />
  <div class="login-page">
    {{#with user}}
    <div class="form">
      <div class="title-info ">
        <h2>Change your Info</h2>
      </div>
      <form method="POST" action="/info/{{this._id}}">
        <h5>Name</h5>
        <input type="text" class="form-control form-control-lg" value="{{this.name}}" name="name">
        <h5>Last Name</h5>
        <input type="text" class="form-control form-control-lg" value="{{this.lastName}}" name="lastName">
        <h5>Address</h5>
        <input type="text" class="form-control form-control-lg" value="{{this.address}}" name="address">
        <h5>Password</h5>
        <input type="password" class="form-control form-control-lg" placeholder="****" required="true" name="password">
        <button type="submit">Update</button>
      </form>
    </div>
    {{/with}}
  </div>
</div>