<div>
  <img style=" position:absolute; width:100%; height:100%;" src="../images/info.jpg" />
  <div class="login-page">
    <div class="form">
      <form method="POST" class="login-form">
        <div>
          <label for="exampleInputEmail1"></label>
          <input type="email" id="exampleImputEmail1" aria-describedby="emailHelp" placeholder="Username"
            required="true" name="username">
        </div>
        <div>
          <label for="password"></label>
          <input type="password" id="password" placeholder="Password" required="true" name="password" />
        </div>
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</div>