<div>
  <div class="titlePagePersonal pacific-font">
    <h2>Hello {{user.name}}, what do you whant to throw?</h2>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card cardPersonal">
          <img style="width:50%; height:50%;" class="card-img-top" src="../images/battery.jpg" />
          <div class="card-body fondoVerde">
            <a href="/maps/battery" class="btn btn-outline-dark my-2 my-sm-0 botonVerde">Batteries</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card cardPersonal">
          <img style="width:50%; height:50%;" src="../images/clothes.jpg" />
          <div class="card-body fondoVerde">
            <a href="/maps/clothes" class="btn btn-outline-dark my-2 my-sm-0 botonVerde">Clothes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card cardPersonal">
          <img style="width:50%; height:50%;" src="../images/oil.jpg" />
          <div class="card-body fondoVerde">
            <a href="/maps/vegetalOil" class="btn btn-outline-dark my-2 my-sm-0 botonVerde">Vegetal Oil</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card cardPersonal">
          <img style="width:50%; height:50%;" src="../images/cpoint.jpg" />
          <div class="card-body fondoVerde">
            <a href="/maps/cleanPoints" class="btn btn-outline-dark my-2 my-sm-0 botonVerde">R.Points</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card cardPersonal">
          <img style="width:50%; height:50%;" src="../images/formulary.jpg" />
          <div class="card-body fondoVerde">
            <a href="/bookings" class="btn btn-outline-dark my-2 my-sm-0 botonVerde">Furnitures</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>footer}}