<div>
  <div class="title-info ">
    <h2>Welcome {{user.name}}</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="/page-personal/battery" class="btn btn-primary">Batteries</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="/page-personal/clothes" class="btn btn-primary">Clothes</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="/page-personal/vegetalOil" class="btn btn-primary">Vegetal Oil</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="/page-personal/cleanPoints" class="btn btn-primary">Clean Points</a>
        </div>
      </div>
    </div>
  </div>
</div>