<div class="login-page">
  <div class="form">
    <form method="POST" class="login-form">
      {{!-- <form method="POST" class="login-form" action="/login"> --}}
      <div>
        <label for="firstName"></label>
        <input type="text" id="firstName" placeholder="First Name" required="true" name="name">
      </div>
      <div>
        <label for="lastName"></label>
        <input type="text" id="lastName" placeholder="Last Name" required="true" name="lastname">
      </div>
      <div>
        <label for="address"></label>
        <input type="text" id="address" placeholder="Address" required="true" name="address">
      </div>
      <div>
        <label for="city"></label>
        <input type="text" id="city" placeholder="City" required="true" name="city">
      </div>
      <div>
        <label for="zip"></label>
        <input type="text" id="zip" placeholder="Zip Code" required="true" name="zip">
      </div>
      <div>
        <label for="exampleInputEmail1"></label>
        <input type="email" id="exampleImputEmail1" aria-describedby="emailHelp" placeholder="Username" required="true"
          name="username">
      </div>
      <div>
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" required="true" name="password" />
      </div>
      <button type="submit">Register</button>
      <p class="message">Already register?<a href="/login">Go to login</a></p>
    </form>
  </div>
</div>

{{!-- <div class="signup">
  <form method="POST" class="w-75 mx-auto mt-5">
    <label class="row justify-content-center text-center">
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder=" " required="true" name="firstName">
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder=" " required="true" name="lastName">
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="zipCode">City</label>
          <input type="zipCode" class="form-control" id="city" placeholder=" " required="true" name="city">
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="zipCode">Address Direction</label>
          <input type="zipCode" class="form-control" id="address" placeholder=" " required="true" name="address">
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="zipCode">Zip Code</label>
          <input type="zipCode" class="form-control" id="zipCode" placeholder=" " required="true" name="zip">
        </div>
      </div>
    </label>
    <div class="row justify-content-center text-center">
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" "
            required="true" name="username">
        </div>
      </div>
      <div class="col-md-7 col-12">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder=" " required="true" name="password">
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <button type="submit" class="btn btn-success btn-lg">Register</button>
    </div>
  </form>
</div> --}}