@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #76b852;
  /* fallback for old browsers */
  font-family: "Roboto", sans-serif; }

li {
  list-style: none;
  font-size: larger; }

a {
  color: #00b7ff;
  font-size: larger; }

p {
  font-size: larger; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 17px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px; }

.form .message a {
  color: #4caf50;
  text-decoration: none; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }

.mapboxgl-ctrl-geocoder {
  border: 0;
  border-radius: 0;
  position: relative;
  top: 10;
  width: 800px;
  margin-top: 0; }

.mapboxgl-ctrl-geocoder > div {
  min-width: 100%;
  margin-left: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px; }

a {
  color: #404040;
  text-decoration: none; }

a:hover {
  color: #101010; }

.sidebar {
  width: 30%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25); }

.map2 {
  width: 70%; }

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px; }

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px; }

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none; }

.listings .item:last-child {
  border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700; }

.listings .item .title small {
  font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0; }

.clearfix {
  display: block; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 80vh; }

.hide {
  visibility: hidden; }

.show {
  visibility: visible; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat; }

.loading .modal {
  overflow: hidden; }

.loading .modal {
  display: block; }

.lds-roller {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  height: 64px;
  width: 64px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none; }

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px; }

.mapboxgl-popup-content-wrapper {
  padding: 1%; }

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px; }

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400; }

.mapboxgl-popup-content div {
  padding: 10px; }

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer; }

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px; }

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949; }
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip .form-control {
    display: unset;
    width: 50%;
    margin-left: 25%; }

.title-info {
  text-align: center;
  margin: 15px; }

.list {
  margin-top: 25px;
  margin-bottom: 25px; }

.logo {
  background-image: url("../images/throw.png");
  width: 495px;
  height: 90px;
  border: 1px solid white; }

.card-body {
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  background-color: #76b852;
  background-clip: none;
  border: 0;
  border-radius: none; }

.title-info {
  justify-content: center; }

.card-title {
  margin-bottom: 0; }

h5 {
  margin: 0; }

.nav-item {
  font-size: larger; }

.navbar-brand {
  text-decoration: none; }

.btn {
  margin-left: 15px; }

.dropdown-menu {
  right: 0;
  left: unset; }

.box {
  width: 25%;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.topOfReservates {
  padding: 1%;
  margin-top: 2%;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.titleOfReservates {
  padding: 2%;
  margin-top: 10%;
  display: flex;
  justify-content: center; }

.elementOfReservates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px; }

.formOfReservate {
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.formOfReservate input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px; }

.formOfReservate button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 17px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.searchNav {
  display: flex;
  margin-left: 5%;
  width: 90%; }

.listReservates {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 3% auto; }

/*# sourceMappingURL=style.css.map */